<html>
    <head>
      
      {% if title %}
      <title>AirBnb Review Summary for {{ city }}</title>
      {% else %}
      <title>AirBnb Review Summarizer</title>
      {% endif %}
      
      <!-- CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      {% block css %}{% endblock %}

      <!-- JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>
    <body>
        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper">
                <span class="brand-logo center">{{title}}</a>
            </div>
        </nav>
        <div class="container">
          {% block content %}{% endblock %}
        </div>
    </body>
</html>